.sidebar {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  z-index: 10;
  height: 100%;
  width: 100%;
  max-height: 600px;
  max-width: 808px;
  margin-left: auto;
  cursor: pointer;
  
}

.sidebar h2 {
  font-size:1.4rem
}

.description-container{
  display: flex;
  flex-direction: column;
  gap:0.5rem;
}

.description-title{
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.sidebarContent {
  z-index: 15;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  overflow-y: scroll;
  direction: rtl;
  max-height: 600px;
  max-width: 808px;
  margin-left: auto; 
  padding: 1.2rem;
  font-size: 1.2rem;
  font-weight: 300;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.sidebarContent div {
  flex: 1;
}

button {
  margin-top: 3rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  margin-bottom: auto;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  z-index: 16;
}

button.learn-more {
  width: 12rem;
  height: auto;
  color: #fff;
  z-index: 999;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #20202498;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 0.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
  background: none;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}


